.table {
  overflow-y: auto;
  height: 100%;
  display: flex;
}

.cellChipWrapper {
  display: inline-flex;
  min-width: 0;
  max-width: 100%;
  overflow: hidden;
}

.header {
  background-color: rgba(0, 0, 0, 0.13);
}

.processingRow {
  opacity: 0.5;
  pointer-events: none; // Отключаем взаимодействие
  background-color: rgba(0, 0, 0, 0.04) !important;
}
