.marginControls {
  margin: 10px 0;
}

.mobileContainer {
  padding-top: 60px; // Чтобы компенсировать фиксированную навигацию
}

.mobileAside {
  width: 100% !important;
  max-width: 100% !important;
  right: 0 !important;
}
