.refetchWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerAction {
  width: 100%;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.controls {
  display: flex;
  gap: 10px;
}
