.datePickers {
  width: 400px;
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
  background: #fafafa;
  align-items: center;
  border-radius: 12px;
  padding: 2px 0;
  box-sizing: border-box;
}

:global(html[data-theme='dark']) {
  .datePickers {
    background: transparent;
  }
}
.input {
  height: 30px;
  width: 200px;
  background-color: red;
}
